@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  height: 100%;
}

a {
  -webkit-tap-highlight-color: transparent;
}
.list a {
  color: #000000;
  text-decoration: none;
}

.list a:hover {
  color:#00000073; 
  text-decoration:none; 
  cursor:pointer;  
}

#pages .page #about p a {
  color: #7c4a24;
  text-decoration: none;
}

#pages .page #about p a:hover {
  color:#a07945; 
  text-decoration:none; 
  cursor:pointer;  
}


hr { 
  display:block;
  border:none;
  color:white;
  height:2px;
  margin-top: 30px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(rgb(146, 141, 141)), to(rgba(0, 0, 0, 0)));
}

#contents {
  width: 20%;
  height: 100%;
  float: left;
  text-align: center;
  background-color: #EDC7B7;
  position: fixed;
  font-family: 'Baloo Tammudu 2', cursive;

}

#lists {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.list {
  padding-bottom: 15px;
  font-size: 2.5vmin;
}

.contacts-btn {
  width: 100%;
  display: flex;
}

.btn-container {
  margin: 0 auto;
}

.btn-container a {
  padding: 5px;
}

.intro {
  margin-top: 5%;
}

.intro .my-image img{
  border-radius: 50%;
}

.my-name {
  font-size: 3vmin;
}

.download-cv {
  bottom: 0;
  width: 100%;
  position: absolute;
  margin-bottom: 10%;
}

.download-cv a{
  border-radius: 4px;
  color: #000;
  border: 1px solid #000;
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .5s ease;
  background-color: transparent;
}

.download-cv a:hover {
  background-color: #EEE2DC;
  color: #000;
}

#pages {
  width: 80%;
  float: right;
  min-height: 100%;
  background-color: #EEE2DC;
  font-family: 'Baloo Tammudu 2', cursive;
  position: absolute;
  margin-left: 20%;
  transition: margin-left .5s;
}


.page{
  width: 100%;
  display: none;
}

#pages .page .header h1 {
  font-size: 3vmax;
}

.header {
  opacity: 1;
  margin-top: 10%;
}

.infos#about {
  font-size: 2.0vmin;
  text-align: center;
  padding-top: 50px;
}

.header, .infos {
  padding-right: 60px;
  padding-left: 60px;
}

.infos#project {
  font-size: 2.0vmin;
  padding-top: 50px;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.project-title {
  margin-top:0;
  width: 100%;
  font-size: 1.5vmax;
  text-align: center;
}

ul.no-bullets li, ul.no-bullets li h3 {
  display: inline;
}

ul.no-bullets li.tag {
  background-color: #333;
  color: #fff;
  border-radius: 15px;
  padding-right: 10px;
  padding-left: 10px;
}

.project-links-icon {
  text-align: center;
  padding-top: 30px;
}

.project-links-icon a {
  padding-left: 10px;
  padding-right: 10px;
}

.page.skills .infos .skills .skill{
  align-items: center;
  padding: 1rem;
}

#skill-image {
  text-align: center;
}

#skill-category {
  text-align: center;
  font-size: 3vmin;
}

#skill-set {
  text-align: center;
  color: #333;
}

.page.skills .infos .skills {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .page.skills .infos .skills  { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .page.skills .infos .skills  { grid-template-columns: repeat(3, 1fr); }
}

#pages .open-btn {

  display: none;
  -webkit-tap-highlight-color: transparent;
}

#contents .close-btn {
  display: none;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (max-width : 992px) {
  #pages {
    margin-left: 0%;
    width: 100%;
  }

  #pages .open-btn {
    display: block;
    position: fixed;
    padding: 5px;
    cursor: pointer;
  }

  #contents .close-btn {
    display: block;
  }

  #contents {
    width: 100%;
    display: none;
  }

  .list {
    padding-bottom: 0px;
    font-size: 2.5vh;
  }
  .my-name {
    font-size: 3vh;
  }
  
  #pages .page .header h1 {
    font-size: 5vmax;
  }

  .header, .infos {
    padding-right: 30px;
    padding-left: 30px;
  }

  .project-title {
    margin-top:0;
    width: 100%;
    font-size: 2.5vmax;
    text-align: center;
  }
  
  .infos#project {
    font-size: 4.0vmin;
    padding-top: 50px;
  }

  .page, .infos p{
    font-size: 4.0vmin;
  }
  
  #skill-category {
    font-size: 5.5vmin;
  }

  .project-links-icon a img{
    width: 30px;
    height: 30px;
  }
}
