body {
  margin: 0;
  padding: 0;
}

#root{
    width:100%;
}

#contents {
    width:30%;
    float:left;
    height: 100%;
    text-align:right;
    background-color:red
}

#lists {
  padding-right: 60px;
}
#pages {
    width:70%;
    float:left;
    text-align:center;
    background-color:green
}